.container{
    margin-bottom: 40px;
}

.heading_medium{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.heading_title{
    font-size: 24px;
    color: var(--text-color);
    margin: 0px;
    font-family: var(--font-choosen-variant);
    font-weight: 700;
    font-style: italic;
    transition: font-size 0.2s linear;
}

.MeaningTitle{
    font-family: var(--font-choosen);
    font-size: 20px;
    font-weight: 400;
    color: #757575;
    margin: 0px 0px 25px 0px;
    transition: font-size 0.2s linear;
}

.greyLine{
    height: 1px; 
    width: 100%;
    align-self: center;
    background-color: var(--divider-line);
}

.quote{
    color:#757575;
    font-weight: 400;
    margin-top: 13px;
    display: block;
    transition: font-size 0.2s linear;
}

.synonyms{
    margin-top: 63px;
    display: flex;
    justify-content: flex-start;
    gap: 22px;
}   

.synonymsTitle{
    font-family: var(--font-choosen);
    margin: 0px;
    color: #757575;
    font-size: 20px;
    transition: font-size 0.2s linear;
}

.synonymsLink{
    font-family: var(--font-choosen);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    color: #A445ED;
    line-height: 24px;
    transition: font-size 0.2s linear;
}

.synonymsLink:hover{
    text-decoration-line: underline;
}

@media(max-width: 535px){
    .heading_title{
        font-size: 18px;
    }
    .MeaningTitle{
        font-size: 16px;
    }
    .synonymsTitle, .synonymsLink{
        font-size: 16px;
    }
    .quote{
        font-size: 15px;
    }
}